<header>
  <nav>
      <a id="navbar-hero">
          <img src="./assets/img/logo.svg" data-target="hero" class="nav-scroll" alt="Logo">
      </a>
      <ul>
          <li id="navbar-about"><a data-target="about" class="nav-scroll">About</a></li>
          <li id="navbar-skills"><a data-target="skills" class="nav-scroll">Skills</a></li>
          <li id="navbar-follow"><a data-target="follow" class="nav-scroll">Follow me</a></li>
          <li id="navbar-contact"><a data-target="contact" class="nav-scroll">Say hello</a></li>
      </ul>
  </nav>
  <div id="mob-menu-fill"><a href="./imprint.html">Imprint</a></div>
  <div class="hamburger hamburger--spin">
      <span class="hamburger-box">
          <span class="hamburger-inner"></span>
      </span>
  </div>
</header>