/* Media queries */

@mixin for($size) {
	@if $size == phone {
		@media (max-width: 688px) {
			@content;
		}
	} @else if $size == tablet {
		@media (max-width: 1024px) and (min-width: 688px) {
			@content;
		}
	} @else if $size == laptop {
		@media (max-width: 1680px) and (min-width: 1024px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 1680px) {
			@content;
		}
	}
}

/* Color variables */

$benthic-black: rgb(2, 2, 20);
$hadopelagic-water: rgb(5, 5, 35);
$white: rgb(255, 255, 255);
$ice-ice-baby: rgb(10, 253, 216);
$mountain-haze: rgb(107, 107, 128);

/* Layout variables */

$margin-laptop: 12%;
$margin-desktop: 16%;

/* Global styling */

html {
	font-size: 62.5%;
	font-style: normal;
	font-family: 'Prompt', sans-serif;
	cursor: url('../img/cursor-outline.png'), auto;
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		a,
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
			outline: none;
			cursor: url('../img/cursor-outline.png'), auto;
		}
		button,
		button:focus,
		button:hover,
		button:active {
			border: none;
			cursor: pointer;
			outline-style: none;
		}
	}
}

/* Background rectangles */

@mixin rectangle-top-left($color, $height) {
	height: 100%;
	background-color: $color;
	clip-path: polygon(0 $height, 0% 100%, 100% 100%);
}

@mixin rectangle-top-right($color, $height) {
	height: 100%;
	background-color: $color;
	clip-path: polygon(100% $height, 0% 100%, 100% 100%);
}

/* Underline effect */

@mixin underline-effect($color, $height, $bottom, $duration) {
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: $height;
		bottom: $bottom;
		background-color: $color;
		visibility: hidden;
		transform: scaleX(0);
		transition: all $duration ease-in-out 0s;
	}
	&:hover::before {
		visibility: visible;
		transform: scaleX(1);
	}
}

/* Keyframes */

@keyframes blink {
	.80% {
		background-color: $white;
	}
	49% {
		background-color: $white;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: $white;
	}
}

@keyframes fadeOutLogo {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.4);
	}
}

@keyframes fadeInText {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeInLogo {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOutText {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}
