/* Color variables */

$white: rgb(255, 255, 255);
$ice-ice-baby: rgb(10, 253, 216);
$mountain-haze: rgb(107, 107, 128);
$corbeau: rgb(5, 5, 35);
$tristesse: rgb(3, 3, 30);

/* Global styling */

html {
	font-size: 62.5%;
	font-family: 'Prompt', sans-serif;
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		a,
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
			outline: none;
		}
		button,
		button:focus,
		button:hover,
		button:active {
			border: none;
			cursor: pointer;
			outline-style: none;
		}
	}
}
