/* Color variables */

$benthic-black: rgb(2, 2, 20);
$hadopelagic-water: rgb(5, 5, 35);
$white: rgb(255, 255, 255);
$ice-ice-baby: rgb(10, 253, 216);
$mountain-haze: rgb(107, 107, 128);

/* Layout variables */

$global-margin: 12%; // Increase to ~18% for larger Screens

/* Global styling */

html {
	font-size: 62.5%;
	font-style: normal;
	font-family: 'Prompt', sans-serif;
	cursor: url('../img/cursor-outline.png'), auto;
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		a,
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
			outline: none;
			cursor: url('../img/cursor-outline.png'), auto;
		}
		button,
		button:focus,
		button:hover,
		button:active {
			border: none;
			cursor: pointer;
			outline-style: none;
		}
	}
}

/* Keyframes */

@keyframes blink {
	.80% {
		background-color: $white;
	}
	49% {
		background-color: $white;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: $white;
	}
}
