/* Hamburger menu */

#hamburger-menu {
	display: none;
}

.hamburger {
	position: absolute;
	top: 2rem;
	right: 2rem;
	visibility: hidden;
	@include for(phone) {
		visibility: visible;
	}
}

/* Nav header */

header {
	height: 7.2vh;
	min-height: 5.4rem;
	width: 100%;
	position: fixed;
	top: 0%;
	z-index: 10;
	padding: 0 $margin-laptop;
	@include for(phone) {
		padding: 0 $margin-phone;
	}
	@include for(desktop) {
		padding: 0 $margin-desktop;
	}
	nav {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		#navbar-hero {
			@include for(phone) {
				display: none;
			}
			height: 54%;
			img {
				height: 100%;
			}
		}
		ul {
			@include for(phone) {
				display: none;
			}
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				list-style: none;
				&:nth-of-type(even) {
					margin: 0 6rem;
				}
				a {
					font-weight: 300;
					font-size: 1.4rem;
					color: $white;
					&:hover {
						color: $ice-ice-baby;
					}
				}
			}
		}
	}
}

/* Scroll snapping */

.snap-wrapper {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	.snap-box {
		width: 100%;
		scroll-snap-align: center;
	}
}

/* Background */

section {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	position: relative;
	&:nth-of-type(odd) {
		background: $hadopelagic-water;
		.poly {
			@include rectangle-top-left($benthic-black, 85%);
		}
	}
	&:nth-of-type(even) {
		background: $benthic-black;
		.poly {
			@include rectangle-top-right($hadopelagic-water, 85%);
		}
	}
}

/* Footer */

footer {
	height: 6.8vh;
	min-height: 4.6rem;
	width: calc(100% - #{$margin-laptop} * 2);
	position: absolute;
	bottom: 0;
	margin: 0 $margin-laptop;
	@include for(phone) {
		width: calc(100% - #{$margin-phone} * 2);
		margin: 0 $margin-phone;
	}
	@include for(desktop) {
		width: calc(100% - #{$margin-desktop} * 2);
		margin: 0 $margin-desktop;
	}
	p {
		font-weight: 300;
		font-size: 1.4rem;
		color: $mountain-haze;
		@include for(phone) {
			font-size: 1rem;
		}
		a {
			color: $mountain-haze;
			&:hover {
				color: $ice-ice-baby;
			}
		}
	}
}

/* Underline effect */

nav ul {
	li {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			height: 0.2rem;
			width: 100%;
			bottom: -0.2rem;
			left: 0;
			background-color: $ice-ice-baby;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.1s ease-in-out 0s;
		}
	}
	.active {
		&::after {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}
