/* Nav header */

header {
	height: 7.2vh;
	min-height: 5.4rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 0%;
	z-index: 10;
	padding: 0 $global-margin;
	nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		#navbar-hero {
			position: relative;
			h1 {
				font-size: 4.2rem;
				line-height: 6.4rem;
			}
			#h-1 {
				font-weight: 400;
				color: $ice-ice-baby;
			}
			#h-2 {
				color: $hadopelagic-water;
				position: absolute;
				font-weight: 600;
				left: 0.5rem;
				top: 0%;
			}
		}
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				list-style: none;
				&:nth-of-type(even) {
					margin: 0 6rem;
				}
				a {
					font-weight: 300;
					font-size: 1.4rem;
					line-height: 2.1rem;
					color: $white;
					&:hover {
						color: $ice-ice-baby;
					}
				}
			}
		}
	}
}

/* Scroll snapping */

.snap-wrapper {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	.snap-box {
		width: 100%;
		scroll-snap-align: center;
	}
}

/* Background */

section {
	height: 100vh;
	width: 100%;
	position: relative;
	&:nth-of-type(odd) {
		background: $hadopelagic-water;
		.poly {
			@include rectangle-top-left($benthic-black, 85%);
		}
	}
	&:nth-of-type(even) {
		background: $benthic-black;
		.poly {
			@include rectangle-top-right($hadopelagic-water, 85%);
		}
	}
}

/* Footer */

footer {
	height: 6.8vh;
	min-height: 4.6rem;
	width: calc(100% - #{$global-margin} * 2);
	position: absolute;
	bottom: 0;
	margin: 0 $global-margin;
	p {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: $mountain-haze;
		a {
			color: $mountain-haze;
			&:hover {
				color: $ice-ice-baby;
			}
		}
	}
}

/* Underline effect */

nav ul {
	li {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			height: 0.2rem;
			width: 100%;
			bottom: -0.2rem;
			left: 0;
			background-color: $ice-ice-baby;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.1s ease-in-out 0s;
		}
	}
	.active {
		&::after {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}
