/* Head shot image */

#hero {
	background: url(../img/head-shot.png), $hadopelagic-water;
	background-attachment: fixed;
	background-position: right center;
	background-size: 88% auto;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
	@include for(phone) {
		background: url(../img/head-shot-mob.png), $hadopelagic-water;
		background-attachment: scroll;
		background-position: center top;
		background-size: 96% auto;
		background-repeat: no-repeat;
	}
	@include for(desktop) {
		background-position: 76% center;
		background-size: 72% auto;
	}
}

/* Content wrapper */

.content {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	width: calc(100% - #{$margin-laptop} * 2);
	position: absolute;
	top: 0;
	margin: 0 $margin-laptop;
	padding-top: 7.2vh;
	padding-bottom: 14vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@include for(phone) {
		width: calc(100% - #{$margin-phone} * 2);
		padding-bottom: 11.8vh;
		margin: 0 $margin-phone;
	}
	@include for(desktop) {
		width: calc(100% - #{$margin-desktop} * 2);
		margin: 0 $margin-desktop;
	}
}

/* Category tags */

.category {
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: $ice-ice-baby;
	margin: 2.4rem auto;
}

/* Hero section */

#hero-wrapper {
	padding-bottom: 6.8rem;
	@include for(phone) {
		align-items: flex-end;
	}
	#hero-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		color: $white;
		@include for(phone) {
			height: 42vh;
			max-height: 28rem;
			justify-content: space-between;
		}
		h3 {
			font-weight: 400;
			font-size: 4.2rem;
			line-height: 5.2rem;
			margin-bottom: 3rem;
			@include for(phone) {
				font-weight: 300;
				font-size: 3.8rem;
				line-height: 4.8rem;
				margin-bottom: 0rem;
			}
		}
		h4 {
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2.2rem;
			@include for(phone) {
				// margin-bottom: 1.6rem;
				br {
					display: none;
				}
			}
		}
		.to-contact {
			position: relative;
			@include underline-effect($ice-ice-baby, 0.3rem, -0.4rem, 0.3s);
		}

		/* Typing effect */
		span.typed-text {
			font-weight: 400;
			@include for(phone) {
				font-weight: 300;
			}
			color: $ice-ice-baby;
		}
		span.cursor {
			display: inline-block;
			background-color: $white;
			margin-left: 0.5rem;
			width: 3px;
			animation: blink 1s infinite;
		}
		span.cursor.typing {
			animation: none;
			background-color: $ice-ice-baby;
		}
	}
}

/* About section */

#about-wrapper {
	flex-direction: column;
	.category {
		width: 100%;
		text-align: center;
	}
	#about-text {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $white;
		columns: auto 2;
		@include for(phone) {
			columns: auto 1;
		}
		.to-contact {
			position: relative;
			color: $ice-ice-baby;
			@include underline-effect($ice-ice-baby, 0.3rem, -0.4rem, 0.3s);
		}
	}
}

/* Skills section */

#skills-wrapper {
	flex-direction: column;
	#skills-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 16vh);
		grid-gap: 3.4rem;
		@include for(tablet) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 14vh);
			grid-gap: 3rem;
		}
		@include for(phone) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 12vh);
			grid-gap: 2.6rem;
		}
		.skill-wrapper {
			// outline: 0.1rem dotted $mountain-haze;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.skill-logo {
				color: $ice-ice-baby;
				position: absolute;
				font-size: 4.2rem;
				@include for(tablet) {
					font-size: 3.8rem;
				}
				@include for(phone) {
					font-size: 3.4rem;
				}
				opacity: 1;
				transition-property: animation;
				transition-timing-function: ease-out;
				animation: fadeInLogo 0.5s forwards;
			}
			&::after {
				display: flex;
				justify-content: center;
				align-items: center;
				content: attr(data-hover-text);
				color: $white;
				position: absolute;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2.1rem;
				opacity: 0;
				transition-property: animation;
				transition-timing-function: ease-out;
				animation: fadeOutText 0.6s forwards;
			}

			/* Show names on hover */
			&:hover > .skill-logo {
				animation: fadeOutLogo 0.4s forwards;
			}
			&:hover::after {
				animation: fadeInText 0.4s forwards;
			}
			.circle-wrapper {
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	#key-container {
		height: 6.8vh;
		min-height: 4.6rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		.key {
			display: flex;
			align-items: flex-start;
			p {
				font-weight: 300;
				font-size: 1rem;
				color: $mountain-haze;
				margin-right: 3.8rem;
				@include for(phone) {
					margin-right: 0.6rem;
				}
			}
			img {
				margin: 0 1rem;
				@include for(phone) {
					margin: 0 0.8rem;
				}
			}
		}
	}
}

/* Follow section */

#follow-wrapper {
	flex-direction: column;
	#social-container {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			min-height: 36vh;
			li {
				list-style: none;
				font-weight: 400;
				font-size: 4.2rem;
				@include for(phone) {
					font-size: 2.8rem;
				}
				a {
					color: $white;
					&:hover {
						color: $ice-ice-baby;
					}
				}
			}
		}
	}
}

/* Contact section */

#contact-wrapper {
	flex-direction: column;
	a {
		position: relative;
		font-weight: 300;
		font-size: 4.2rem;
		color: $white;
		@include for(phone) {
			font-size: 2.8rem;
		}
		@include underline-effect($ice-ice-baby, 0.4rem, 0.6rem, 0.3s);
	}
}

/* Imprint */

#imprint-wrapper {
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 14vh;
	@include for(phone) {
		padding-bottom: 11.8vh;
	}
	#imprint-text {
		h1 {
			font-weight: 300;
			font-size: 4.2rem;
			color: $ice-ice-baby;
			margin-bottom: 2.8rem;
		}
		h2 {
			font-weight: 300;
			font-size: 1.4rem;
			color: $ice-ice-baby;
			margin-top: 2.8rem;
			margin-bottom: 2rem;
		}
		p {
			font-weight: 300;
			font-size: 1.4rem;
			color: $white;
			a {
				font-weight: 300;
				font-size: 1.4rem;
				color: $white;
				&:hover {
					color: $ice-ice-baby;
				}
			}
		}
	}
}
