/* Head shot image */

#hero {
	background: url(../img/head-shot.png), $hadopelagic-water;
	background-attachment: fixed; // Or perhaps better 'scroll'?
	background-position: right center;
	background-size: 92% auto; // Decrease width for larger Screens
	background-repeat: no-repeat;
	background-blend-mode: lighten;
}

/* Content wrapper */

.content {
	min-height: 100vh;
	width: calc(100% - #{$global-margin} * 2);
	position: absolute;
	top: 0;
	margin: 0 $global-margin;
	padding-top: 7.2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Category tags */

.category {
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: $ice-ice-baby;
	margin: 2.4rem auto;
}

/* Hero section */

#hero-wrapper {
	#hero-text {
		width: 100%;
		color: $white;
		h3 {
			font-weight: 400;
			font-size: 4.2rem;
			line-height: 5.2rem;
			margin-bottom: 3rem;
		}
		h4 {
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
		.to-contact {
			position: relative;
			@include underline-effect($ice-ice-baby, 0.3rem, -0.4rem, 0.3s);
		}

		/* Typing effect */
		span.typed-text {
			font-weight: 400;
			color: $ice-ice-baby;
		}
		span.cursor {
			display: inline-block;
			background-color: $white;
			margin-left: 0.5rem;
			width: 3px;
			animation: blink 1s infinite;
		}
		span.cursor.typing {
			animation: none;
			background-color: $ice-ice-baby;
		}
	}
}

/* About section */

#about-wrapper {
	flex-direction: column;
	.category {
		width: 100%;
	}
	#about-text {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $white;
		columns: auto 2;
		.to-contact {
			position: relative;
			color: $ice-ice-baby;
			@include underline-effect($ice-ice-baby, 0.3rem, -0.4rem, 0.3s);
		}
	}
}

#skills-wrapper {
	flex-direction: column;
	padding-bottom: 4.6rem;
	#skills-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 16vh);
		grid-gap: 3.4rem;
		.skill-wrapper {
			// outline: 0.1rem dotted $mountain-haze;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.skill-logo {
				color: $ice-ice-baby;
				position: absolute;
				font-size: 4.2rem;
				opacity: 1;
				transition-property: animation;
				transition-timing-function: ease-out;
				animation: fadeInLogo 0.5s forwards;
			}
			&::after {
				display: flex;
				justify-content: center;
				align-items: center;
				content: attr(data-hover-text);
				color: $white;
				position: absolute;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2.1rem;
				opacity: 0;
				transition-property: animation;
				transition-timing-function: ease-out;
				animation: fadeOutText 0.6s forwards;
			}

			/* Show names on hover */
			&:hover > .skill-logo {
				// Maybe instead change color of logo?
				animation: fadeOutLogo 0.4s forwards;
			}
			&:hover::after {
				animation: fadeInText 0.4s forwards;
			}
			.circle-wrapper {
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	#key-container {
		height: 6.8vh;
		min-height: 4.6rem;
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		.key {
			display: flex;
			align-items: center;
			p {
				font-weight: 300;
				font-size: 1rem;
				line-height: 1.5rem;
				color: $mountain-haze;
				margin-right: 3.8rem;
			}
			img {
				margin: 0 1rem;
			}
		}
	}
}

/* Follow section */

#follow-wrapper {
	flex-direction: column;
	#social-container {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			min-height: 36vh;
			li {
				list-style: none;
				font-weight: 400;
				font-size: 4.2rem;
				line-height: 6.2rem;
				a {
					color: $white;
					&:hover {
						color: $ice-ice-baby;
					}
				}
			}
		}
	}
}

/* Contact section */

#contact-wrapper {
	flex-direction: column;
	padding-bottom: 4.6rem;
	a {
		position: relative;
		font-weight: 300;
		font-size: 4.2rem;
		color: $white;
		@include underline-effect($ice-ice-baby, 0.4rem, 0.6rem, 0.3s);
	}
}
